body {
  background-image: url('BG-1.jpeg');
  background-size: cover;
  background-position: center;
  font-family: 'Space mono', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

.header {
  max-width: 900px;
  margin: 0 auto;
}

#logo {
  height: 80px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: 40px;
}
a {
  text-decoration: none;
  color: white
}

a:hover {
  color: white;
}

a:visited {
  color: white;
}

#hr1 {
  border: 2px solid #FBE251;
  max-width: 444px;
  margin: 10px auto;
}

#hr2 {
  border: 2px solid #FBE251;
  max-width: 100%;
  margin: 10px auto;
}

h1 {
  font-size: 48px;
  letter-spacing: 2.1;
  text-align: center;
  max-width: 900px;
  position: relative;
  top: 35px;
}

.register {
  font-size: 22px;
  text-align: center;
  max-width: 900px;
  max-height: 311px;
  margin: 5px auto;
}

.register #reg {
  background-color: rgba(145, 152, 159, 0.50);
  text-align: left;
  display: inline-block;
  border-radius: 5px;
  width: 425px;
  height: 190px;
  padding: 15px;
}

input {
  float: right;
  position: relative;
  top: 7px;
}

#choose { 
  float: right;
  height: 18px;
  width: 100px;
  position: relative;
  top: 7px;
}

#btn {
  clear: both;
}

#feedback {
  display: none;
  position: relative;
  bottom: 30px;
  width: 455px;
  height: 220px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 30px;
}

#clipboard {
  visibility: hidden;
  margin-top: 15px;
}

#join {
  color: #D0104C;
  display: block;
  position: relative;
  bottom: 30px;
  max-width: 900px;
  margin: 0 auto;
}
.main {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

h2 {
  font-size: 20px;
  letter-spacing: 1.6;
  font-weight: bold;
}

.icon {
  height: 84px;
  width: 84px;
}
h3 {
  font-size: 20px;
  letter-spacing: 1.4;
  display: inline-block;
  border-bottom: 2px solid #FBE251;
}

ul {
  display: inline;
  list-style-type: none;
}

.col {
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  margin: 0 auto;
  width: 400px;
  height: auto;
}

.col-cs {
  background-color: rgba(145, 152, 159, 0.50);
  display: inline-block;
  position: relative;
  right: 25px;
  width: 150px;
  height: 120px;
  border-radius: 5px;
  padding: 7px 5px;
  margin: 5px
}

.col-cs:hover {
  background-color: rgba(145, 152, 159, 0.80);
}

.footer {
  width: 100%;
}
.footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-inline-start: 0;
}

.game {
  width: 90px;
  height: 60px;
  margin: 0 5px;
}

/* Slideshow container */
.slideshow-container {
  width: 80%;
  max-width: 800px;
  height: auto;
  max-height: 444px;
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 3px dashed #FBE251;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (max-width: 500px) {
.col {
  display: block;
}
  
h3 {
  color:#FBE251;
}

